body {
    background-color:rgb(147, 149, 173) !important;
}

.homenav{
  background-color: #595b75;
  box-shadow: 0 14px 20px -12px rgb(22, 18, 24);
  
}

.mCard {
    /* box-shadow: 0 0 20px rgb(201, 199, 199); */
    border: none;
    transition: 0.2s;
}

.mCard:hover {
    transform: scale(1.05);
    transition: 0.4s;
    /* box-shadow: 0 0 20px rgb(56, 56, 56); */
}

.posterImg {
    height: 320px;
}

.mTop {
    display: flex;
    position: absolute;
    top: 7px;
    
    color: white;
    background-color: rgb(55, 48, 65);
    padding: 0 4px;
    border-radius: 3px;
}

.starImg {
    
    height: 14px;
    margin: 4px;
}

.flip-card {
    background-color: transparent;
    width: 213px;
    height: 320px;
    
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
.flip-card-front {
    background-color: #cccccc;
    color: black;
  }
  
.flip-card-back {
    /* background-color: rgb(63, 57, 66); */
    color: white;
    transform: rotateY(180deg);
   
    /* padding: 45% 5px 0 5px; */
  }

.cardBackTitle {
    display: flex;
    position: absolute;
    top: 35%;
    width: 100%;  
    color: white;
    background-color: rgb(63, 58, 71);
    padding: 2px 4px 0;
    border-radius: 3px; 
  }

.cardBackRDate{
    display: flex;
    position: absolute;
    bottom: 10px;
    width:  100%;
  }

.moviePage {
    background-color: rgb(169, 166, 196);
    padding: 35px;
  }

  p {
    font-size: 24px;
    color: #595b75;
    font-family: Noto Sans, sans-serif; 
  }

.mPlot{
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    color: #595b75;
    font-family: Noto Sans, sans-serif; 

  }

input[type="radio"] {
    transform: scale(1.5);
}

label {
  font-size:20px;
  
}
